body,
html {
	height: 100%;
	scroll-behavior: smooth;


	@include phone {
		min-width: 320px;
	}
}


body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.42;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	


	@include phone {
		font-size: 14px;
	}
}



.container {
	margin: 0 auto;
	// width: 98%;
	max-width: 1920px;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.scroll__icon {
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/double-arrow.png) center center no-repeat;
}

.scroll__text {
	font-size: 18px;
    text-transform: uppercase;
	color: #f1f1f1;
	margin-bottom: 25px;
}