
nav.nav
    ul.nav__list
        - var navItems = ['Home', 'About Me', 'Portfolio', 'Contact']
            each navItem in navItems
                li.nav__item
                    a(href="#").nav__link #{navItem}