.promo

    include ./nav
    //- .header
    //-     .container
            include ./nav
            
            
    .promo__scoll.scroll
        .promo__scroll-txt.scroll__text scroll down to see more
        a(href="#about").promo__scroll-icon.scroll__icon
